 body{
 margin: 0;
 padding: 0;
 }
 .inline ul{
 padding: 0;
 list-style: none;
 }
 .inline li{
 display: inline-block;
 margin-right: 10px;
 }
 .inline a{
 text-decoration: none;
 padding: 5px;
 background: lightblue;
 }
 .float ul{
 padding: 0;
 list-style: none;}

  .float li{
 display: inline-block;
 margin-right: 10px;
 }
 .float a{
 text-decoration: none;
 background: lightcoral;
 padding: 5px;
 }
 header{
 text-align: center;
 background-color: lightgray;
 }
 header span{
 display: inline;
 color: red;
 }